<html>
<head>
<title>Registration</title>
</head>
<body bgcolor="green">
    <h1>
        <marquee>Welcome to the registration page </marquee>
        </h1>>
<hr>
<form action = "/registration" method = "post">
	<table align="center" border="4">
	<tr>
	<td>Name:</td>
	<td>
	<input type="text" name="name">
</td>
</tr>
<tr> 
	<td>
	Password:
</td>
<td>
<input type="text" name="password">
</td>
</tr>
<tr>
	<td> Gender:
</td>
<td>
<input type="radio" name="gender">Male
<input type="radio" name="gender">Female
</td>
</tr>
<tr>
<td>
D.O.B:
</td>
<td>
<input type="date" name="dob">
</td>
</tr>
<tr>
<td>
Address:
</td>
<td>
<input type="text" name="address">
</td>
</tr>

<tr>
<td>
Email:
</td>
<td>
<input type="mail"  name="email">
</td>
</tr>
<tr>
<td>
	Phone NO:
</td>
<td>
<input type="Phone"  name="phone">
</td>
</tr>
<tr>
<td>
	<input type="Submit" name="">
</td>
</tr>
</table>
</form>
</body>
</html>